{{#each shifts}}
<div>
    {{#if employee}}
    <li>{{this.employee.name}}</li>
{{else}}
    <li>Ingen ansat</li>
    {{/if}}
    <li>Fra: {{this.start}}</li>
    <li>Til: {{this.end}}</li>
</div>
{{/each}}

